.form-label {
    display: block;
}

html {
    height: 100%;
    margin: 0;
    background-image: linear-gradient(109.6deg, rgb(87, 147, 231) 11.2%, rgb(47, 41, 122) 91.2%);
}

.text-white {
    color: white;
}

.login-card {
    margin: 0 auto;
}

.card {
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    transition: 0.3s;
    width: 40%;
    display: block;
    align-items: center;
    height: 300px;
    background-color: white;
}

input {
    width: 40%;
    border: rgb(47, 41, 122) solid 2px;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    padding: 5px;
}

.password:focus {
    color:rgb(24, 105, 197);
}

.password {
    color: rgb(47, 41, 122);
}

input:focus {
    border: rgb(24, 105, 197) solid 2px;
}

.form-field {
    margin-top: 5px;
    margin-bottom: 5px;
}

.form-span {
    display: block;
}

.title {
    text-align: center;
}

.form-button {
    background-color: rgb(47, 41, 122);
    display: block;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 14px;
    margin-bottom: 12px;
    transition: 0.5s;
}

textarea:focus, input:focus{
    outline: none;
}

.form-button:hover {
    background-color: rgb(24, 105, 197);
}

.form-button:disabled {
    background-color: gray;
    cursor: initial;
}

a {
    color: rgb(47, 41, 122);
}

a:visited {
    color: rgb(24, 105, 197);
}

form {
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    position: relative;
    top: 15%;
}

.loader {
    position: absolute;
    left: calc(50% - 120px);
    top: calc(50% - 120px);
    border: 16px solid transparent;
    border-radius: 50%;
    border-top: 16px solid white;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .error {
      color: rgb(214, 22, 22);
  }
